
.icon-laptop:before { content: '\e800'; } /* '' */
.icon-map:before { content: '\e801'; } /* '' */
.icon-heart-empty:before { content: '\e802'; } /* '' */
.icon-mail:before { content: '\e803'; } /* '' */
.icon-dribbble-circled:before { content: '\f04f'; } /* '' */
.icon-twitter-circled:before { content: '\f057'; } /* '' */
.icon-sliders:before { content: '\f1de'; } /* '' */
.icon-vimeo:before { content: '\f306'; } /* '' */