
.icon-laptop:before { content: '\e800'; } /* '' */
.icon-map:before { content: '\e801'; } /* '' */
.icon-heart-empty:before { content: '\e802'; } /* '' */
.icon-sliders:before { content: '\f1de'; } /* '' */