@font-face {
    font-family: 'Airbag';
    src: url('../fonts/airbag.otf');
    font-weight: normal;
    font-style: normal;
}

header,
section,
footer {
    max-width: 1600px;
    margin: 0 auto;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

header {
    background: url(../img/background-header.jpg) no-repeat center top;
}

header::after {
    content: "";
    display: flex;
    position: relative;
    top: -688px;
    z-index: 1;
    height: 747px;
    background-image: linear-gradient(to right, #485563 0%, #29323c 100%);
    opacity: 0.7;
}

.homeHeader {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 2;
}

.logo {
    font-family: "airbag"serif;
    font-size: 48px;
    text-transform: uppercase;
    color: #e8e8e8;
    text-shadow: #000 5px 5px;
    margin-top: 40px;
    display: flex;
    justify-content: flex-start;
}

header nav {
    margin-top: 40px;
    text-transform: uppercase;
    color: #e8e8e8;
    font-family: Montserrat, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    justify-content: flex-end;
}

header ul {
    display: none;
}

h1 {
    margin-top: 210px;
    color: #e8e8e8;
    font-family: Montserrat, Arial, sans-serif;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    position: relative;
    z-index: 2;
}

h3 {
    font-family: "Open Sans";
    position: relative;
    z-index: 2;
    color: #e8e8e8;
    font-size: 17px;
    line-height: 25px;
    font-family: "Open Sans";
    font-weight: 300;
    text-align: center;
    width: 620px;
    margin: 35px auto 0;
}

.talk,
.arrow {
    position: relative;
    z-index: 2;
    margin: 35px auto 0;
    display: block;
    width: 126px;
    height: 40px;
    border: 1px solid #f2f2f2;
    border-radius: 35px;
    text-transform: uppercase;
    color: #e8e8e8;
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 700;
    background: transparent;
}

.arrow {
    margin: 145px auto 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

i {
    border: solid #e8e8e8;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 6px;
}

.down {
    transform: rotate(45deg);
}

.arrow::after {
    content: "";
    display: block;
    width: 2px;
    height: 105px;
    background: #e8e8e8;
    position: relative;
    left: 17px;
    top: 3px;
}